
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        MFM Tractor Beacons
      </h1>
      <p>
        Welcome to the Tractor Beacon registry. You can use this page to view beacon information, search for a specific beacon, or view all active beacons.
      </p>

      <h2 class="govuk-heading-m">Services</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/list-beacons">View all beacons</a>
        </li>
        <li>
          <a href="/list-beacons?activated=true">View all active beacons</a>
        </li>
        <li>
          <a href="/find-a-beacon">Find a beacon</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
