{% extends "layout.html" %}

{% block pageTitle %}
All Tractor Beacons
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">
      Tractor Beacons
    </h1>
    
    <p>Showing all Tractor Beacons.</p>
    
    <ol class="govuk-list results service-results">
      <li class="results__item govuk-u-margin-bottom-0 govuk-u-padding-top-5">
        <div class="govuk-grid-row results__details">
          <div class="govuk-grid-column-two-thirds govuk-u-margin-bottom-5">
            <div>
              <h2 class="results__name govuk-u-padding-top-1">Feather Ted's Favourite Beacon</h2>
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Status
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag">active</strong>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Owner
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Khalil Duckfield
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Email
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <a href="mailto:lkimblin0@sbwire.com">lkimblin0@sbwire.com</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Contact Phone
                  </dt>
                  <dd class="govuk-summary-list__value">
                    330-575-2430
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Emergency Contact
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <p class="govuk-body">Leyla Kimblin</p>
                    <p class="govuk-body">375-679-2819</p>
                    <p class="govuk-body"><a href="mailto:lkimblin0@google.co.uk">lkimblin0@google.co.uk</a></p>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </li>
    </ol>
    
  </div>
</div>

{% endblock %}
