{% extends "layout.html" %}

{% block pageTitle %}
All Tractor Beacons
{% endblock %}

{% block beforeContent %}
{% include 'includes/phase_banner.html' %}
<a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">
      Tractor Beacons
    </h1>
    
    <p>Showing all Tractor Beacons.</p>
    
    <ol class="govuk-list results service-results">

      {% for beacon in beacons %}
      <li class="results__item govuk-u-margin-bottom-0 govuk-u-padding-top-5">
        <div class="govuk-grid-row results__details">
          <div class="govuk-grid-column-two-thirds govuk-u-margin-bottom-5">
            <div>
              <h2 class="results__name govuk-u-padding-top-1">{{ beacon.name }}</h2>
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Status
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {% if beacon.activated %}
                      <strong class="govuk-tag">activated</strong>  
                    {% else %}
                      <strong class="govuk-tag govuk-tag--grey">inactive</strong>
                    {% endif %}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Owner
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ beacon.owner }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Email
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <a href="mailto:{{ beacon.email }}">{{ beacon.email }}</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Contact Phone
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ beacon.contact_phone }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Emergency Contact
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <p class="govuk-body">{{ beacon.emergency_contact_name }}</p>
                    <p class="govuk-body">{{ beacon.emergency_contact_phone }}</p>
                    <p class="govuk-body"><a href="mailto:{{ beacon.emergency_contact_email }}k">{{ beacon.emergency_contact_email }}</a></p>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}

    </ol>
    
  </div>
</div>

{% endblock %}
